<div class="navigation">
    <nav class="main-nav">
        <div class="container">
            <ul class="nav nav-justified flex-column flex-sm-row">
                <li class="nav-item">
                    <a href="index.php" class="nav-link ">Naslovna</a>
                </li>
                <li class="nav-item">
                    <a href="about.php" class="nav-link">O nama</a>
                </li>
                <li class="nav-item">
                    <a href="index.php#radnoVreme" class="nav-link">Radno vreme</a>
                </li>
                <li class="nav-item">
                    <a href="index.php#prodavnica" class="nav-link">Prodavnica</a>
                </li>
                <li class="nav-item">
                    <a href="galerija.php" class="nav-link">Galerija</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Kontakt</a>
                </li>
            </ul>
        </div>
    </nav>
</div>